<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RCPCS.Properties.Settings.RejCzasConnectionString"
            connectionString="Data Source=MROK\SQL2014;Initial Catalog=RejCzas;Persist Security Info=True;User ID=sa;Password=alamakota"
            providerName="System.Data.SqlClient" />
 <!--    <add name="RCPCS.Properties.Settings._1070_RejCzasConnectionString"
            connectionString="Data Source=mssql01.dcsweb.pl,51433;Initial Catalog=1070_RejCzas;Persist Security Info=True;User ID=1070_sa;Password=Alamakota1!@"
            providerName="System.Data.SqlClient" />
     --> 
        <add name="RCPCS.Properties.Settings._1070_RejCzasConnectionString"
            connectionString="Data Source=pf001.database.windows.net,1433;Initial Catalog=RejCzas;Persist Security Info=True;User ID=przefoltyn;Password=Alamakota1!@"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>